.button {
  border-radius: 8px;
  background: var(--unnamed, linear-gradient(135deg, #da8023 0%, #e2b438 100%));
  display: flex;
  padding: 19px 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: transparent;
  color: #191411;
  font-size: 18px;
  font-weight: 600;
}

.button:hover {
  background: var(--unnamed, linear-gradient(135deg, #ff8307 0%, #b68a11 100%));
}

.button:disabled {
  cursor: not-allowed;
  color: gray;
  background: #343434;
}
