<main class="main">
  <div class="body__bg">
    <header class="header">
      <div class="container header__container">
        <a href="#" class="logo">
          <img
            src="../assets/images/header/logo.svg"
            alt="Логотип"
            class="header__logo-img"
          />
        </a>
        <nav class="header__menu">
          <ul class="header__menu-list">
            <li class="menu__item">
              <a (click)="scrollTo(why)" class="header__menu-item-link"
                >Почему у нас</a
              >
            </li>
            <li class="menu__item">
              <a (click)="scrollTo(products)" class="header__menu-item-link"
                >Меню бургеров</a
              >
            </li>
            <li class="menu__item">
              <a (click)="scrollTo(order)" class="header__menu-item-link"
                >Оформление заказа</a
              >
            </li>
          </ul>
        </nav>
        <div
          class="header__currency"
          id="change-currency"
          title="Изменить валюту"
          (click)="changeCurrency()"
        >
          <span class="header__currency-symbol">{{ currency }}</span>
        </div>
      </div>
    </header>

    <section class="container info">
      <div class="info__block">
        <span class="info__block-menu">Новое меню</span>
        <h1 class="info__block-title">БУРГЕР ЧЕДДЕР</h1>
        <p class="info__block-text">
          Мы обновили наше меню, спешите попробовать сезонные новинки и
          насладиться отличным вкусом наших бургеров. Готовим для вас лучшие
          бургеры в городе из отборной мраморной говядины.
        </p>
        <div class="info__block-action">
          <button
            class="button info__block-button"
            id="info__block-button"
            (click)="scrollTo(products)"
          >
            Смотреть меню
          </button>
        </div>
      </div>
      <img
        src="../assets/images/main/info/main_burger.png"
        alt="Бургер Чеддер"
        class="info__img"
      />
    </section>
  </div>

  <section class="why" id="why" #why>
    <div class="container why__container">
      <div class="why__title title">Почему нас выбирают?</div>
      <div class="why__items">
        <div class="why__item">
          <img
            src="../assets/images/main/why/burger.svg"
            alt="burger"
            class="why__item-img"
          />
          <div class="wht__item-title">Авторские рецепты</div>
          <div class="wht__item-text">
            Наши бургеры обладают уникальным сочетанием вкусов и не похожи ни на
            какие другие. Мы тщательно отбираем лучшие ингредиенты и сочетания
            вкусов для нашего меню.
          </div>
        </div>
        <div class="why__item">
          <img
            src="../assets/images/main/why/meat.svg"
            alt="burger"
            class="why__item-img"
          />
          <div class="wht__item-title">Мраморная говядина</div>
          <div class="wht__item-text">
            Для наших бургеров мы используем отборную 100% мраморную говядину,
            которую закупаем исключительно у фермеров. Мы уверены в качестве
            нашего мяса.
          </div>
        </div>
        <div class="why__item">
          <img
            src="../assets/images/main/why/food truck.svg"
            alt="burger"
            class="why__item-img"
          />
          <div class="wht__item-title">Быстрая доставка</div>
          <div class="wht__item-text">
            Мы доставляем в пределах МКАД за 30 минут, а если не успеем —
            доставка бесплатно. Мы тщательно упаковываем наши бургеры, чтобы по
            дороге они не остыли.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="products" id="products" #products>
    <div class="container products__container">
      <div class="title">Выберете свой бургер</div>
      <ul class="products__items">
        <li class="products__item" *ngFor="let product of productsData">
          <div class="products__item-img">
            <img
              src="../assets/images/main/products/{{ product.image }}"
              alt="{{ product.title }}"
            />
          </div>
          <div class="products__item-title">{{ product.title }}</div>
          <p class="products__item-text">
            {{ product.text }}
          </p>
          <div class="products__item-extra">
            <div class="products__item-info">
              <p class="products__item-price" data-base-price="8">
                {{ product.price }} {{ currency }}
              </p>
              <p class="products__item-weight">{{ product.grams }} гр</p>
            </div>
            <div class="products__item-action">
              <button
                class="button products__button"
                (click)="scrollTo(order, product)"
              >
                <span>Заказать</span>
                <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="25"
                    fill="none"
                  >
                    <path
                      fill="#191411"
                      d="M17 18.5a2 2 0 1 1 0 4 2 2 0 0 1 0-4ZM1 2.5h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-1.76-2.96l1.36-2.45L3 4.5H1v-2Zm6 16a2 2 0 1 1 0 4 2 2 0 0 1 0-4Zm9-7 2.78-5H6.14l2.36 5H16Z"
                    /></svg
                ></span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="order" id="order" #order>
    <div class="container order__container">
      <div class="title">оформление заказа</div>
      <img
        src="../assets/images/main/order/order_image.png"
        alt="burger box"
        class="order__img"
      />
      <div class="order__form">
        <div class="order__form-text">
          Заполните все данные и наш менеджер свяжется с вами для подтверждения
          заказа
        </div>
        <div class="order__form-inputs" [formGroup]="form">
          <div
            class="order__form-input"
            [ngClass]="{
              error:
                form.get('order')?.invalid &&
                (form.get('order')?.dirty || form.get('order')?.touched)
            }"
          >
            <input
              type="text"
              placeholder="Выберите товар в списке"
              id="order-burger"
              formControlName="order"
              readonly
            />
          </div>
          <div
            class="order__form-input"
            [ngClass]="{
              error:
                form.get('name')?.invalid &&
                (form.get('name')?.dirty || form.get('name')?.touched)
            }"
          >
            <input
              type="text"
              placeholder="Ваше имя"
              id="order-name"
              formControlName="name"
            />
          </div>
          <div
            class="order__form-input"
            [ngClass]="{
              error:
                form.get('phone')?.invalid &&
                (form.get('phone')?.dirty || form.get('phone')?.touched)
            }"
          >
            <input
              type="text"
              placeholder="Ваш телефон"
              id="order-phone"
              formControlName="phone"
            />
          </div>
        </div>
        <button
          class="button order__button"
          id="order-action"
          (click)="confirmOrder()"
          [disabled]="!form.valid"
        >
          Оформить заказ
        </button>
      </div>
    </div>
  </section>

  <div class="modal visually-hidden" id="modal">
    <p class="modal__text">Спасибо за покупку</p>
    <button
      class="button modal__button"
      id="button-modal-close"
      (click)="closeModal()"
    >
      Закрыть
    </button>
  </div>
</main>
<footer class="footer">
  <div class="container footer__container">
    <a href="#" class="logo">
      <img
        src="../assets/images/header/logo.svg"
        alt="Логотип"
        class="header__logo-img"
      />
    </a>
    <div class="footer__rights">Все права защищены</div>
  </div>
</footer>
